#root {
  max-width: 1280px;
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
  /* background-image: url('../src/assets/img/bg-pizzeria2.jpg');
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover; */
}

.list-ing {
  list-style-type: none;
  text-align:left;
  margin-left:3.5rem;
}

