#root {
  max-width: 1280px;
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
  background-image: url('../src/assets/img/bg-pizzeria2.jpg');
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  height: auto;
}

.header {
  background: linear-gradient(rgb(0,0,0,0.4)), url('./assets/Header.jpg');
  opacity: 0.9;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  height: 45vh;
  color: #fff;
}





